header {
    display: flex;

    nav {
        display: flex;
        justify-content: center;
        width: 100%;

        a {
            text-decoration: none;
            color: black;
            margin: 1%;
            

            &:hover {
                font-weight: 600;
            }
        }

    
    }
}